openapi: 3.0.0
info:
  contact:
    email: support@arm.com
    name: API Support
    url: https://www.keil.com/
  description: "This API provides a RESTful interface to all the Solar services e.g.\
    \ looking for boards, building projects, etc.\n- This API uses Hypermedia as the\
    \ Engine of Application State (HATEOAS) to drive the discovery and provide\n \
    \ affordances.\n- Discovery is possible by following links from the well known\
    \ root resource. While this specification lists\n  all supported endpoints, it\
    \ is only recommended that these are hard coded into a client if code generation\
    \ is\n  being used. Otherwise, it is recommended that the discovery mechanisms\
    \ present in the resources (affordances)\n  are used exclusively.\n- Affordances\
    \ are links which indicate whether an action is currently possible, this is significantly\
    \ different from\n  whether the service supports an action in general. This specification\
    \ defines what actions could be possible,\n  but only by checking the affordances\
    \ returned by the API in the returned resources, can a client determine whether\n\
    \  this action is currently possible or available for the current user. For example:\n\
    \  - An operation to modify a resource could be defined in this specification,\
    \ but the user may lack the appropriate\n    privileges. In that situation, the\
    \ affordance link would not be present in the resource when read. Therefore,\n\
    \    the client can infer that it is not possible to edit this resource and present\
    \ appropriate information to the\n    user.\n  - An operation to delete a resource\
    \ could be defined and be possible in some circumstances. The specification\n\
    \    describes that the delete is supported and how to use it, but the affordance\
    \ describes whether it is currently\n    possible. The logic in the API may dictate\
    \ that if the resource was in use (perhaps it is a running job or used\n    by\
    \ another resource), then it will not be possible to delete that resource as it\
    \ would result in a conflicted\n    state.\n- It is strongly encouraged that affordances\
    \ are used by all clients, even those using code generation. This has the\n  ability\
    \ to both improve robustness and the user experience by decoupling the client\
    \ and server. For example, if for\n  some reason the criteria for deleting a resource\
    \ changes, the logic is only implemented in the server and there is\n  no need\
    \ to update the logic in the client as it is driven by the affordances.\n- The\
    \ format used for the resources is the Hypertext Application Language (HAL), which\
    \ includes the definition\n  of links and embedded resources.\n"
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Solar API
  version: 1.0.0
servers:
- description: Solar API
  url: https://all.api.keil.arm.com
- description: Staging (QA) Solar API
  url: https://all.api.test.keil.arm.com
  x-redact: true
- description: Local Development Server
  url: http://localhost:8080
  x-redact: true
security:
- TokenAuth: []
tags:
- description: Viewing Boards.
  name: Boards
- description: "Managing build jobs, including getting build artefacts and messages."
  name: Build Jobs
- description: Finding and building with the CMSIS Build tools.
  name: CMSIS Builders
- description: Finding and generating compilation database with the CMSIS Build tools.
  name: CMSIS Intellisense Builders
- description: "Managing intellisense jobs, including getting compilation database\
    \ and messages."
  name: Intellisense Jobs
- description: The root resource faciliates discovery of other resources.
  name: Root Resource
- description: Managing the run jobs on VHT instances
  name: VHT Run jobs
- description: Finding available virtual targets
  name: Virtual Hardware Target
- description: Managing a VHT instance
  name: Virtual Hardware Target Instance
- description: Managing a workspace
  name: Workspace
- description: Finding available workspace sources
  name: Workspace Source
paths:
  /:
    get:
      description: Retrieve the Root resource to list top level collections.
      operationId: getRoot
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Get the Root resource.
      tags:
      - Root Resource
  /boards/:
    get:
      description: This returns a collection resource that lists all of the Boards
        avalible to the service.
      operationId: listBoards
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: "Embedding: The whether or not to embed resources into the collection\
          \ (rather than return links)."
        example: false
        explode: true
        in: query
        name: embed
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBoardsCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            getBoard:
              description: The link can be used to get the board held in the collection.
                The `href` property of the link can be used to make a request.
              operationId: getBoard
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List all the Boards.
      tags:
      - Boards
  /boards/{boardId}/:
    get:
      description: Get a specific Board Item using a Board ID
      operationId: getBoard
      parameters:
      - description: Unique ID of a Board.
        explode: false
        in: path
        name: boardId
        required: true
        schema:
          type: string
        style: simple
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardItem'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            listBoards:
              description: The link can be used to get the collection holding this
                Board. The `href` property of the link can be used to make a request.
              operationId: listBoards
      summary: Get a Board Item
      tags:
      - Boards
  /build-jobs/:
    get:
      description: This returns a collection resource that lists all in progress or
        recently completed build jobs. The build jobs for all builders are in the
        same collection.
      operationId: listBuildJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: "Embedding: The whether or not to embed resources into the collection\
          \ (rather than return links)."
        example: false
        explode: true
        in: query
        name: embed
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildJobCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List all Build Jobs.
      tags:
      - Build Jobs
      x-link:
        linkRelation: collection
        resource: BuildJobItem
        title: The recent build jobs.
  /build-jobs/{jobName}:
    delete:
      description: Deletes a build job along with all artefacts and messages associated
        with it. Deleting a build job is only possible if it has already completed
        or been cancelled.
      operationId: deleteBuildJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The build job has been successful deleted.
          headers:
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "The requested operation, if completed, would result in an\
            \ inconsistent state so has been denied."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Delete a Build Job
      tags:
      - Build Jobs
      x-link:
        linkRelation: delete
        resource: BuildJobItem
        title: Delete this build job.
    get:
      description: A build job represents the status of a build process (compilation
        and linking) being executed by a builder.
      operationId: getBuildJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildJobItem'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            cancelBuildByName:
              description: The `cancel` link can be used to cancel this ongoing job.
                Either the `href` property of the link can be used to make a request
                (which would be the preferred HATEOS approach) or by completing the
                URL template using the `name` property of a link.
              operationId: cancelBuildJob
              parameters:
                jobName: $response.body#/_links/cancel/name
            deleteBuildByName:
              description: The `delete` link can be used to delete this job. Either
                the `href` property of the link can be used to make a request (which
                would be the preferred HATEOS approach) or by completing the URL template
                using the `name` property of a link. An active/running job will not
                include a delete affordance link. The link will be included only for
                cancelled or completed jobs.
              operationId: deleteBuildJob
              parameters:
                jobName: $response.body#/_links/delete/name
            getArtefactListByName:
              description: The `artefacts` link can be used to find the collection
                of build artefacts/products generated by this job. Either the `href`
                property of the link can be used to make a request (which would be
                the preferred HATEOS approach) or by completing the URL template using
                the `name` property of a link.
              operationId: listBuildArtefacts
              parameters:
                jobName: $response.body#/_links/artefacts/name
            getBuildMessagesByName:
              description: The `details` link can be used to find the details on the
                build progress and build messages generated by this job. Either the
                `href` property of the link can be used to make a request (which would
                be the preferred HATEOS approach) or by completing the URL template
                using the `name` property of a link.
              operationId: getBuildMessages
              parameters:
                jobName: $response.body#/_links/details/name
            getCmsisBuilderByName:
              description: The `related` link can be used to find the builder used
                to create this job. Either the `href` property of the link can be
                used to make a request (which would be the preferred HATEOS approach)
                or by completing the URL template using the `name` property of a link.
              operationId: getCmsisBuilder
              parameters:
                builderName: $response.body#/_links/related/name
            retainBuildByName:
              description: The `retain` link can be used to set the time at which
                the job and all associated resources such as generated artefacts and
                messages will be removed from the system. Either the `href` property
                of the link can be used to make a request (which would be the preferred
                HATEOS approach) or by completing the URL template using the `name`
                property of a link.
              operationId: retainBuild
              parameters:
                jobName: $response.body#/_links/retain/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Return status of a Build Job.
      tags:
      - Build Jobs
      x-link:
        dynamic: true
        linkRelation: self
        resource: BuildJobItem
        title: The status of this build job.
  /build-jobs/{jobName}/artefacts/:
    get:
      description: An artefact represents a product of the build process such as a
        binary file.
      operationId: listBuildArtefacts
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            getArtefactByName:
              description: The build artefacts/products can be downloaded by using
                `item` links. Either the `href` property of the link can be used to
                make a request (which would be the preferred HATEOS approach) or the
                URL template can be completing with the `name` property of a link.
              operationId: getBuildArtefact
              parameters:
                artefactName: $response.body#/_links/items/*/name
                jobName: $response.body#/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List all the available Build Artefacts for the given Build Job.
      tags:
      - Build Jobs
      x-link:
        linkRelation: artefacts
        resource: BuildJobItem
        title: The created artefacts for this build job.
  /build-jobs/{jobName}/artefacts/{artefactName}:
    get:
      description: An artefact represents a product of the build process such as a
        binary file.
      operationId: getBuildArtefact
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: The URL safe name of the Build Artefact.
        explode: false
        in: path
        name: artefactName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Download the named Build Artefact for the given Build Job.
      tags:
      - Build Jobs
      x-link:
        dynamic: true
        linkRelation: self
        resource: BuildArtefactItem
        title: Download this build artefact.
  /build-jobs/{jobName}/cancel:
    post:
      description: This will cancel a build job that is in progress. All messages
        associated with the build will be retained.
      operationId: cancelBuildJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildJobItem'
          description: A request to cancel the build has been successfully issued.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Content-Location:
              $ref: '#/components/headers/ContentLocationHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "The requested operation, if completed, would result in an\
            \ inconsistent state so has been denied."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Cancel a Build Job
      tags:
      - Build Jobs
      x-link:
        linkRelation: cancel
        resource: BuildJobItem
        title: Cancel this build job.
  /build-jobs/{jobName}/messages:
    get:
      description: Retrieve and page through the build messages for a given build.
      operationId: getBuildMessages
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildMessageItem'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Build Message Feed.
      tags:
      - Build Jobs
      x-link:
        linkRelation: details
        resource: BuildJobItem
        title: Messages generated while running this build job.
  /build-jobs/{jobName}/retain:
    post:
      description: Set the time at which the job and all associated resources such
        as generated artefacts and messages will be removed from the system.
      operationId: retainBuildJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Build Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/retainBuildJob_request'
        description: TTL configuration.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildJobItem'
          description: Build Job Time To Live has been successfully updated.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Content-Location:
              $ref: '#/components/headers/ContentLocationHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested media type is not supported by the server.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Update how long a build job will be retained before automatic deletion.
      tags:
      - Build Jobs
      x-link:
        linkRelation: retain
        resource: BuildJobItem
        title: Postpone the cleanup of a specific build job.
  /cmsis-builders/:
    get:
      description: |-
        This returns a collection resource that lists all of the CMSIS-Builders supported by the build service. Each builder listed represents a specific combination of the following:
          - CMSIS-Build tool version
          - Toolchain type e.g. GCC/AC6
          - Toolchain version.
      operationId: listCmsisBuilders
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: "Embedding: The whether or not to embed resources into the collection\
          \ (rather than return links)."
        example: false
        explode: true
        in: query
        name: embed
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmsisBuilderCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            getCmsisBuilderByName:
              description: Individual builders can be accessed by using `item` links.
                Either the `href` property of the link can be used to make a request
                (which would be the preferred HATEOS approach) or the URL template
                can be completing with the `name` property of a link.
              operationId: getCmsisBuilder
              parameters:
                builderName: $response.body#/_links/items/*/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List available CMSIS Builders.
      tags:
      - CMSIS Builders
      x-link:
        linkRelation: collection
        resource: CmsisBuilderItem
        title: All the available CMSIS builders.
  /cmsis-builders/{builderName}:
    get:
      description: "A CMSIS Builder is a combination of a specific set of CMSIS-Build\
        \ tools and a specific toolchain, which can be used to build a CMSIS project."
      operationId: getCmsisBuilder
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: The ID of the CMSIS Builder.
        explode: false
        in: path
        name: builderName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmsisBuilderItem'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            startCmsisBuildByName:
              description: The `create` link can be used to initiate a build using
                this Builder. Either the `href` property of the link can be used to
                make a POST request (which would be the preferred HATEOS approach)
                or the URL template can be completing with the `name` property of
                a link.
              operationId: startCmsisBuild
              parameters:
                builderName: $response.body#/_links/create/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Return details of specific CMSIS Builders.
      tags:
      - CMSIS Builders
      x-link:
        dynamic: true
        linkRelation: self
        resource: CmsisBuilderItem
        title: The details of this CMSIS builder.
    post:
      description: Initiate a build using the specified CMSIS Builder.
      operationId: startCmsisBuild
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: The ID of the CMSIS Builder.
        explode: false
        in: path
        name: builderName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildJobItem'
        description: A name of the CMSIS project to build.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildJobItem'
          description: Build job has been successfully created.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Content-Location:
              $ref: '#/components/headers/ContentLocationHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Location:
              $ref: '#/components/headers/LocationHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested media type is not supported by the server.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Initiate a build using the specified CMSIS Builder.
      tags:
      - CMSIS Builders
      x-link:
        linkRelation: create
        resource: BuildJobItem
        title: Start a build using this CMSIS builder.
  /cmsis-intellisense/:
    get:
      description: |-
        This returns a collection resource that lists all of the CMSIS Intellisense Builders supported by the build service. Each builder listed represents a specific combination of the following:
          - CMSIS-Build tool version
          - Toolchain type e.g. GCC/AC6
          - Toolchain version.
      operationId: listCmsisIntellisense
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: "Embedding: The whether or not to embed resources into the collection\
          \ (rather than return links)."
        example: false
        explode: true
        in: query
        name: embed
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmsisIntellisenseCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            getIntellisenseByName:
              description: Individual builders can be accessed by using `item` links.
                Either the `href` property of the link can be used to make a request
                (which would be the preferred HATEOS approach) or the URL template
                can be completed with the `name` property of a link.
              operationId: getCmsisIntellisense
              parameters:
                builderName: $response.body#/_links/items/*/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List available CMSIS Intellisense Builders.
      tags:
      - CMSIS Intellisense Builders
      x-link:
        linkRelation: collection
        resource: CmsisIntellisenseItem
        title: All available CMSIS intellisense builders.
  /cmsis-intellisense/{builderName}:
    get:
      description: "A CMSIS Intellisense Builder is a combination of a specific set\
        \ of CMSIS-Build tools and a specific toolchain, which can be used to build\
        \ a CMSIS project."
      operationId: getCmsisIntellisense
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: The ID of the CMSIS Intellisense Builder.
        explode: false
        in: path
        name: builderName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CmsisBuilderItem'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            startCmsisIntellisenseByName:
              description: The `create` link can be used to initiate a compilation
                database generation using this Intellisense Builder. Either the `href`
                property of the link can be used to make a POST request (which would
                be the preferred HATEOS approach) or the URL template can be completed
                with the `name` property of a link.
              operationId: startCmsisIntellisense
              parameters:
                builderName: $response.body#/_links/create/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Return details of specific CMSIS Intellisense Builders.
      tags:
      - CMSIS Intellisense Builders
      x-link:
        dynamic: true
        linkRelation: self
        resource: CmsisIntellisenseItem
        title: The details of this CMSIS intellisense builder.
    post:
      description: Initiate a compilation database generation using the specified
        CMSIS Intellisense Builder.
      operationId: startCmsisIntellisense
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: The ID of the CMSIS Intellisense Builder.
        explode: false
        in: path
        name: builderName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntellisenseJobItem'
        description: A name of the CMSIS project to generate compilation database.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntellisenseJobItem'
          description: Intellisense job has been successfully created.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Content-Location:
              $ref: '#/components/headers/ContentLocationHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Location:
              $ref: '#/components/headers/LocationHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested media type is not supported by the server.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Initiate a compilation database generation using the specified CMSIS
        Intellisense Builder.
      tags:
      - CMSIS Intellisense Builders
      x-link:
        linkRelation: create
        resource: IntellisenseJobItem
        title: Start compilation database generation with this CMSIS intellisense
          builder.
  /intellisense-jobs/:
    get:
      description: This returns a collection resource that lists all in progress or
        recently completed intellisense jobs. The intellisense jobs for all builders
        are in the same collection.
      operationId: listIntellisenseJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: "Embedding: The whether or not to embed resources into the collection\
          \ (rather than return links)."
        example: false
        explode: true
        in: query
        name: embed
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntellisenseJobCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List all Intellisense Jobs.
      tags:
      - Intellisense Jobs
      x-link:
        linkRelation: collection
        resource: IntellisenseJobItem
        title: The recent intellisense jobs.
  /intellisense-jobs/{jobName}:
    delete:
      description: Deletes a job along with artefacts and messages associated with
        it. Deleting a job is only possible if it has already completed or been cancelled.
      operationId: deleteIntellisenseJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Intellisense Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The job has been successful deleted.
          headers:
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "The requested operation, if completed, would result in an\
            \ inconsistent state so has been denied."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Delete an Intellisense Job.
      tags:
      - Intellisense Jobs
      x-link:
        linkRelation: delete
        resource: IntellisenseJobItem
        title: Delete this intellisense job.
    get:
      description: An intellisense job represents the status of a intellisense process
        (generation of compilation database) being executed by an intellisense builder.
      operationId: getIntellisenseJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Intellisense Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntellisenseJobItem'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            cancelJobByName:
              description: The `cancel` link can be used to cancel this ongoing job.
                Either the `href` property of the link can be used to make a request
                (which would be the preferred HATEOS approach) or by completing the
                URL template using the `name` property of a link.
              operationId: cancelIntellisenseJob
              parameters:
                jobName: $response.body#/_links/cancel/name
            deleteJobByName:
              description: The `delete` link can be used to delete this job. Either
                the `href` property of the link can be used to make a request (which
                would be the preferred HATEOS approach) or by completing the URL template
                using the `name` property of a link. An active/running job will not
                include a delete affordance link. The link will be included only for
                cancelled or completed jobs.
              operationId: deleteIntellisenseJob
              parameters:
                jobName: $response.body#/_links/delete/name
            getArtefactListByName:
              description: The `artefacts` link can be used to find the collection
                of artefacts/products generated by this job. Either the `href` property
                of the link can be used to make a request (which would be the preferred
                HATEOS approach) or by completing the URL template using the `name`
                property of a link.
              operationId: listIntellisenseArtefacts
              parameters:
                jobName: $response.body#/_links/artefacts/name
            getBuildMessagesByName:
              description: The `details` link can be used to find the details on the
                progress and messages generated by this job. Either the `href` property
                of the link can be used to make a request (which would be the preferred
                HATEOS approach) or by completing the URL template using the `name`
                property of a link.
              operationId: getIntellisenseMessages
              parameters:
                jobName: $response.body#/_links/details/name
            getIntellisenseByName:
              description: The `related` link can be used to find the builder used
                to create this job. Either the `href` property of the link can be
                used to make a request (which would be the preferred HATEOS approach)
                or by completing the URL template using the `name` property of a link.
              operationId: getCmsisIntellisense
              parameters:
                builderName: $response.body#/_links/related/name
            retainJobByName:
              description: The `retain` link can be used to set the time at which
                the job and all associated resources such as generated artefacts and
                messages will be removed from the system. Either the `href` property
                of the link can be used to make a request (which would be the preferred
                HATEOS approach) or by completing the URL template using the `name`
                property of a link.
              operationId: retainIntellisenseJob
              parameters:
                jobName: $response.body#/_links/retain/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Return status of an Intellisense Job.
      tags:
      - Intellisense Jobs
      x-link:
        dynamic: true
        linkRelation: self
        resource: IntellisenseJobItem
        title: The status of this intellisense job.
  /intellisense-jobs/{jobName}/artefacts/:
    get:
      description: An artefact represents a product of the intellisense job process
        such as a json file.
      operationId: listIntellisenseArtefacts
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Intellisense Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: "Caching: Optional header to improve performance. The value of\
          \ this header should be the `ETag` of the resource when last read. If this\
          \ is provided and there have been no changes to the resource then a 304\
          \ will be returned without content."
        explode: false
        in: header
        name: if-none-match
        required: false
        schema:
          type: string
        style: simple
      - description: "Paging: The maximum number of items to return in a resource."
        example: 20
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Paging:  The index of the first item to return in the resource."
        example: 0
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleCollection'
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
          links:
            getArtefactByName:
              description: The artefacts/products can be downloaded by using `item`
                links. Either the `href` property of the link can be used to make
                a request (which would be the preferred HATEOS approach) or the URL
                template can be completed with the `name` property of a link.
              operationId: getIntellisenseArtefact
              parameters:
                artefactName: $response.body#/_links/items/*/name
                jobName: $response.body#/name
        "304":
          description: The client made a conditional request and there is no need
            to retransmit the resource as the client already has the most recent version
            of this resource.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: List all the available Intellisense Artefacts for the given Intellisense
        Job.
      tags:
      - Intellisense Jobs
      x-link:
        linkRelation: artefacts
        resource: IntellisenseJobItem
        title: The created artefacts for this intellisense job.
  /intellisense-jobs/{jobName}/artefacts/{artefactName}:
    get:
      description: An artefact represents a product of the intellisense job process
        such as a json file.
      operationId: getIntellisenseArtefact
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Intellisense Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      - description: The URL safe name of the Intellisense Artefact.
        explode: false
        in: path
        name: artefactName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            text/plain:
              schema:
                format: binary
                type: string
          description: Resource returned OK.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "406":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Requested cannot be fulfilled due to content negotiation headers,\
            \ such as a request for a unsupported media type or specific version."
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "To many requests have been received by the user, i.e. rate\
            \ limits have been reached."
      summary: Download the named Intellisense Artefact for the given Intellisense
        Job.
      tags:
      - Intellisense Jobs
      x-link:
        dynamic: true
        linkRelation: self
        resource: IntellisenseArtefactItem
        title: Download this intellisense artefact.
  /intellisense-jobs/{jobName}/cancel:
    post:
      description: This will cancel a job that is in progress. All messages associated
        with it will be retained.
      operationId: cancelIntellisenseJob
      parameters:
      - description: "Versioning: Optional header to request a specific version of\
          \ the API. While it is possible to specify a particular major, minor or\
          \ patch version it is not recommended for production use cases. Only the\
          \ major version number should be specified as minor and patch versions can\
          \ be updated without warning."
        example: 1.0.0
        explode: false
        in: header
        name: Accept-Version
        required: false
        schema:
          $ref: '#/components/schemas/AcceptVersionHeader'
        style: simple
      - description: Unique ID of the Intellisense Job.
        explode: false
        in: path
        name: jobName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntellisenseJobItem'
          description: A request to cancel the job has been successfully issued.
          headers:
            Cache-Control:
              $ref: '#/components/headers/CacheControlHeader'
            Content-Location:
              $ref: '#/components/headers/ContentLocationHeader'
            ETag:
              $ref: '#/components/headers/ETagHeader'
            Version:
              $ref: '#/components/headers/VersionHeader'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The request is invalid for syntactic or semantic reasons.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Authentication information has not been provided or is invalid
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Requested resource cannot be found on the server or the user
            lacks privileges to see this resource.
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: This method is not available on this resource or the user lacks
            privileges to use this method.
        "406":
          content:
            application/json:
              schema:
[...]
